.services {
  width: 100%;
  background-color: lightgray;
}
.cardIcon {
  text-align: center;
}
.services > div {
  width: 70%;
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .services > div {
    width: 90%;
  }
}
