.innerProjects {
  width: 70%;
  margin: auto;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.buttons button {
  padding: 20px 40px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.buttons button:hover {
  background-color: gray;
  color: white;
  box-shadow: 0 0 15px lightskyblue;
  border: none;
  transition: ease 1s;
}
.projectCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projectCards a,
.show-btn {
  color: dodgerblue;
  font-weight: bold;
  text-decoration: none;
}
.projectCards a {
  display: block;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}
.show-btn {
  background-color: green;
  width: 100%;
  color: white;
  height: 30px;
  margin-bottom: 10px;
  padding: 20 40px;
  border: none;
  cursor: pointer;
}
.paragraphContainer p {
  margin-bottom: 0;
}
.projectCards a:hover {
  background-color: lightskyblue;
  transition: ease 1s;
  color: white;
}
@media (min-width: 768px) {
  .innerProjects {
    width: 90%;
    max-width: 1200px;
  }
  .show-btn {
    width: 100px;
  }
  .projectCards a {
    text-align: start;
    font-size: 20px;
    margin-top: 5px;
  }
}
